<!-- {% block sidebar %} -->



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">About Us</h5>
            <div class="card-body">
                <p class="card-text"> "Welcome to our Blog! <br>

                    At Baba Python, we're passionate about coding and technology. Our blog is a hub for insightful articles that cater to coding enthusiasts of all levels. Whether you're a seasoned developer or just starting, our content is crafted to inform and inspire.
                    
                    To learn more about the mind behind the articles, check out our Portfolio page.
                    
                    Happy reading and happy coding!"</p>
                <a href="https://ssinghportfolio.netlify.app/" target="_blank" class="btn btn-danger">Know more</a>
            </div>
        </div>
    </div>

<!-- {% endblock sidebar %} -->
